<!doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='auth.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <!-- SIDEBAR -->
      <div class="sidebar">
        <h3>Disease Prediction</h3>

        <a href="/dashboard">🏠 Dashboard</a>
        <a href="/train">⚙️ Train Model</a>
        <a href="/download">⬇️ Download</a>
        <a href="/logout" class="logout">🚪 Logout</a>
      </div>

      <!-- MAIN CONTENT -->
      <div class="main">
        <div class="topbar">
          <h2>Welcome {{ user }}</h2>
        </div>

        <div class="card">
          <a href="/download" class="download-btn">Download Latest Model</a>
        </div>
      </div>
    </div>
  </body>
</html>
